@import url('style.css');
@import url('list.css');

main div.box ul a {
    text-decoration: none;
}

main div.box ul li.box-linguagem {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#141414,#141414);
    margin-left: 10px;
}

main div.box ul li.box-linguagem img.card {
    background-color: #fff;
    transition: .2s ease all;
}

main div.box ul li.box-linguagem img.card:hover {
    transition: .2s ease all;
    transform: scale(1.07);
}

main div.box ul li.box-linguagem div.box-detalhes {
    display: flex;
    padding-top: 10px;
}


main div.box ul li.box-linguagem div.meta {
    
}


main div.box ul li.box-linguagem div.meta img.img-icone {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

main div.box ul li.box-linguagem div.metadata {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin-left: 10px;
}

main div.box ul li.box-linguagem div.metadata h3.software a {
    font-size: 1rem;
    color: white;
    
}

main div.box ul li.box-linguagem div.metadata a {
    font-size: 0.8rem;
    color: #aaa;
    line-height: 1.3;
}

main div.box ul li.box-linguagem div.metadata a:hover {
    font-size: 0.8rem;
    color: #fff;
}