@import url('style.css');

h1#my-list {
    color:#fff;
    
    margin: 0px 30px;
    margin-bottom: 50px;
}

main div.box {
    display: flex;
}

main div.box ul {
    list-style-type: none;
    display: flex;
}

main div.box ul li.box-linguagem {
    /* 178 x 160 */
    width: 178px;
    height: 160px;
    position: relative;
    margin-left: 7px;
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)100%);
}

main div.box ul li.box-linguagem h1 {
    font-size: 15px;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 7px;
}

main div.box ul li:first-child {
    margin-left: 0px;
}

main div.box ul li.box-linguagem img{
   width: 100%;
   height: 160px;
   border-radius: 3px;
}

/* 217.666 */