@media only screen and (max-width: 700px) { 
  
    a {
        text-decoration: none;;
    }

    header div.container nav.list {
        display: none;
    }

    header#start div.logo-responsivo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    header#start div.logo-responsivo #logo {
        width: 100%;
        text-align: center;
    }

/*     header#start a#home-responsivo {
        display: block;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: #fff; 
        letter-spacing: 1px;
    } */

    header#start div.logo-input {
        display: block;
    }
    
    header#start div.logo-input input {
        width: 150px;
        height: 35px;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 30px;
        background: url('/img/search.svg') no-repeat 155px center;
        background-size: 20px;
        background-position-x: 120px; /* serve para manusear a imagem passada no back no eixo x */
        
        color: #fff;
        border: 1px solid #fff;
        outline: none;
        font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    }    

    div#response-header {
        display: block;
        z-index: 3;
    }

    input:checked ~ div#response-header {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
    }

    #isClick{
        display: none;
    }

    label {
        position: absolute;
    }

    label#click #menu {
        position: absolute;
        display: flex;
        left: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 3;
    }
    
    label#click #cancel {
        position: absolute;
        left: -150px;
        top: 10px;
        cursor: pointer;
        font-weight: bold;
    }

    label#click #menu, label#click #cancel {
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        color: var(--specialRedStrong);
        transition: 0.5s ease all;
        position: fixed;
    }

    input:checked + div#response-header label#click #menu {
        display: none;
    }

    input:checked + div#response-header label#click #cancel {
        display: flex;
        z-index: 10;
        left: 10px;
    }

    input:checked ~ div#response-header .header-responsive {
        width: 250px;
        left: 0px;
        transition: 0.5s ease all;
    }

    .header-responsive {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 700px;
        left: -250px;
        background-color: #141414;
        transition: 0.5s ease all;
        z-index: 4;
    }

    .header-responsive h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    .header-responsive h2 a {
        color: #e50914;
        cursor: pointer;
    }

    ul {
        list-style-type: none;

    }

    #nav li {
        width: 100%;
        
    }
    #nav li a {
        display: block;
        text-decoration: none;
        padding-left: 20px;
        transition: 0.2s ease all;
        line-height: 60px;
        font-size: 18px;
        color: var(--specialRedStrong);
    }

    #nav li a:hover {
        padding-left: 30px;
        transition: 0.2s ease all;
        background-color: var(--specialBlue);
    }

    #nav li a i {
        margin-right: 15px;
    }
}