*{margin: 0; padding:0; box-sizing: border-box};

:root {/* uso de variáveis */
    --branca:#ffff;
    --preta: #141414;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    background-color: #141414;
    color: white;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
}

/* Estilizando o cabeçalho */

header {
    height: 60px;
    display: flex;
}

header div.container {
    width: 50px;
    display: flex; /* toda vez que você usa essa propriedade ele tende a jogar tudo em linha */
    align-items: center; /* alinha de forma vertical */
    margin-left: 30px;
}

header div.container h2 {
    cursor: pointer;
    margin-right: 20px;
}

header div nav ul {
    display: flex; /* toda vez que você usa essa propriedade ele tende a jogar tudo em linha */
    list-style-type: none;
}

header div nav ul li a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header div nav ul li a:hover {
    color: #fff;
}

/* Estilizando o main */
main div.conteudo-principal {
    font-size: 15px;
    height: 500px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa/java.png'); /* o gradiente cria uma camada escura */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

main div.conteudo-principal .container {
    width: 70%;
}

main div.conteudo-principal .descricao {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 10px;
    transition: 2s ease all;
}

main div.conteudo-principal .titulo{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main div.conteudo-principal .botao {
    background-color: rgba(0, 0, 0, 50%); /* Serve para colocar efeito de transparencia. O último é a camada alfa */
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;  /* indica que o local é clicável */
    /* border-bottom: 1px solid white; */
}

main div.conteudo-principal button.botao:hover{
    color: black;
    background-color: white;
    transition: .3s ease all; /* cuida da transição entre uma animação e outra */
}

main div.conteudo-principal button.botao i {
    margin-right:8px;
}
/* --------- Estilizando Linguagem quando clicada para ler ---------*/

main div.conteudo-linguagem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 30;
}

main div.conteudo-linguagem.active {
    opacity: 1;
    visibility: visible;
}

main div.conteudo-linguagem div.detalhes {
    width: 60%;
    background-color: #191919;
    color: #B3B3B3;/* 
    background: url('../img/capa/java.png') no-repeat;
    background-size: cover; */
    cursor: context-menu;
}

main div.conteudo-linguagem img {
    width: 100%;
    height: 350px;
}

main div.conteudo-linguagem div.detalhes .imagem {
    display: inline-block;
    position: relative;
}

main div.conteudo-linguagem div.detalhes a#fechar {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
}

main div.conteudo-linguagem div.container {
    padding: 0px 40px;
}

main div.conteudo-linguagem div.detalhes h1 {
    margin-top: 10px;
    color: #fff;
}

main div.conteudo-linguagem div.detalhes ul {
    list-style-type: none;
    display: flex;
}

main div.conteudo-linguagem div.detalhes ul li {
    margin-right: 12px;
}

main div.conteudo-linguagem div.detalhes ul li:last-child {
    margin-right: 0;
}

main div.conteudo-linguagem div.detalhes ul #relevancia {
    margin-right: 12px;
    color: #41BE60;
}

main div.conteudo-linguagem div.detalhes ul .paradigma-versao small{
    padding: 2px;
    background-color: rgba(179, 179, 179, 0.7);
    border-radius: 2px;
    opacity: 1;
    color: rgba(0, 0, 0, 1);
}

main div.conteudo-linguagem div.criador {
    margin: 12px 0px;
    color: #fff
}

main div.conteudo-linguagem div.criador p {
    margin-bottom: 12px;
}

main div.conteudo-linguagem div.criador div#dono {
    display: flex;
    flex-direction: column;
}

main div.conteudo-linguagem div.linguagem-icones {
    display: flex;
    margin-top: 30px;
}

main div.conteudo-linguagem div.linguagem-icones div.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

main div.conteudo-linguagem div.linguagem-icones div.icone:hover {
    color: #fff;
}

main div.conteudo-linguagem div.linguagem-icones div.icone:hover i {
    transition: 0.1s ease;
    padding: 1px;
}

main div.conteudo-linguagem div.linguagem-icones div.icone span {
    margin-top: 10px;
}

/* --------- Estilizando o carrosel ---------*/

.carrosel-linguagens div.item img {
    height: 239.97px;
    cursor: pointer;
}

div.item img.fundo {
    background-color: black;
    color: white;
} 
.conteudo-principal .container {
    margin-left: 30px;
}
