*{margin: 0; padding:0; box-sizing: border-box};

:root {/* uso de variáveis */
    --branca:#ffff;
    --preta: #141414;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    text-rendering: optimizeLegibility !important; /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    background-color: #141414;
    color: white;
}

.content {
    max-width: 1300px;
    margin: 0 auto;
}

/* Estilizando o cabeçalho */

header {
    height: 60px;
    display: flex;
}

header div.container {
    width: 50px;
    display: flex; /* toda vez que você usa essa propriedade ele tende a jogar tudo em linha */
    align-items: center; /* alinha de forma vertical */
}

header div.container h2 {
    cursor: pointer;
    margin-right: 20px;
}

header div nav ul {
    display: flex; /* toda vez que você usa essa propriedade ele tende a jogar tudo em linha */
    list-style-type: none;
}

header div nav ul li a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header div nav ul li a:hover {
    color: #fff;
}

/* Estilizando o main */
main div.conteudo-principal {
    font-size: 15px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa/linguagens.png'); /* o gradiente cria uma camada escura */
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}

main div.conteudo-principal .container {
    width: 70%;
}

main div.conteudo-principal .descricao {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 10px;
}

main div.conteudo-principal .titulo{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main div.conteudo-principal .botao {
    background-color: rgba(0, 0, 0, 50%); /* Serve para colocar efeito de transparencia. O último é a camada alfa */
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;  /* indica que o local é clicável */
    /* border-bottom: 1px solid white; */
}

main div.conteudo-principal button.botao:hover{
    color: black;
    background-color: white;
    transition: .3s ease all; /* cuida da transição entre uma animação e outra */
}

main div.conteudo-principal button.botao i {
    margin-right:8px;
}

.carrosel-linguagens div.item img {
    height: 239.97px;
    cursor: pointer;
}

.container {
    margin-left: 30px;
}
